.upload-body{
    z-index: -1;
    background-color:#FAFAFA;
}
.upload{
    height: 70vh;
    width: 30vw;
    margin: auto;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    background-color: #DADADA;
}
.upload-photo{
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.upload-photo input{

}
.upload-caption{
    height: 10%;
    width: 100%;
}
.upload-caption input{
    height: 100%;
    width: 100%;
    border: none;
}
.upload-btn{
    display: flex;
    justify-content: center;
    margin-top: 1vh;
}
.upload-btn button{
    height: 5vh;
    width: 10vw;
    border-radius: 67px;
    font-size: large;
    color: blue;
    border: 1px solid;
    transition: transform 0.2s;
}
.upload-btn button:hover{
    transform: scale(1.2);
    background: blue;
    color: white;
}
